.success-container {
  background-color: #CE2829;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  padding-top: 60px;
  align-items: center;
}

.success-logo {
  margin-bottom: 80px;
  width: 250px;
}

.yellow-text {
  color: #FDC913;
  font-family: 'Satisfy', cursive;
  font-size: 32px;
  margin-bottom: 0;
}

.success-message h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 72px;
  margin-top: 10px;
  text-transform: uppercase;
}

.success-hr {
  width: 100%;
  max-width: 600px;
  border: 0.5px solid white;
  margin: 20px 0;
}

.success-order-info h3 {
  font-family: 'Barlow', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 40px;
}
.order-summary {
  line-height: 1.8;
  font-size: 1.1rem;;
}

.price-box {
  border: 1px solid white;
  padding: 20px;
  width: 250px;
  margin: 0 auto;
  border-radius: 5px;
}

.total-price {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 10px;
}